<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="shortcut icon" href="./Images/logocopy.png">
    <link rel="canonical" href="">
    <link rel="StyleSheet" href="../css/font-awesome.min.css">
    <link rel="StyleSheet" href="../css/bootstrap.min.css">
    <link rel="StyleSheet" href="../css/style.css">
    <link rel="StyleSheet" href="../css/style.responsive.css">
    <link rel="StyleSheet" href="../css/hover-min.css">
    <link rel="StyleSheet" href="../css/animate.min.css">
    <link rel="StyleSheet" href="../css/hospital.css" type="text/css" />
    <link href="../css/jquery.bxslider.css" rel="stylesheet" />
    <link rel="StyleSheet" href="../css/global.y_kien_khach_hang.css">
    <link rel="StyleSheet" href="../css/global.service.css">
    <link rel="StyleSheet" href="../css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
    <link href="../css/jquery.bxslider-1.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/metisMenu.css" />

    <link href="../css/sm-core-css.css" rel="stylesheet">
    <link href="../css/sm-blue.css" rel="stylesheet">
    <link href="../css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link href="../css/MANHBEO.css" rel="stylesheet">*@
    @*<link href="../css/styleMenu.css" rel="stylesheet" />*@
    
</head>
<body>
    <header>
        <div class="container">
            <div class="logo" style="width: 65%">
                <a title="Bệnh viện Bệnh Nhiệt đới tỉnh Hưng Yên" href="#">
                    <img class="wow fadeInDown" data-wow-delay="0s" src="../images/LOGOBVND.png" alt="Bệnh viện Bệnh nhiệt đới tỉnh Hưng Yên" />
                </a>
            </div>
            <div class="headtop" style="width: 200px">

                <div class="headsocial wow fadeInDown" data-wow-delay="0s">
                    <div id="socialList" class="content">
                        <ul class="socialList">
                            <li style="padding-left: 12px;">
                                <a href="https://www.facebook.com/" target="_blank" style="width: 45px; background: none;">
                                    <img src="Images/face.jpg" style="background: none; border-radius: 13px; border: 5px solid #e6e6e6;" />
                                </a>
                            </li>
                            <li style="padding-left: 12px;">
                                <a href="https://plus.google.com/?hl=vi" target="_blank" style="width: 45px; background: none;">
                                    <img src="Images/go.png" style="background: none; border-radius: 13px; border: 5px solid #e6e6e6;" />
                                </a>
                            </li>
                            <li style="padding-left: 12px;">
                                <a href="https://www.youtube.com/" target="_blank" style="width: 45px; background: none;">
                                    <img src="Images/youto.png" style="background: none; border-radius: 13px; border: 5px solid #e6e6e6;" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="s_top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-24 col-sm-12 col-md-12 wow fadeIn" data-wow-delay="0s">
                        <div class="block_simple">
                            <h3 class="title">Liên hệ<span></span></h3>
                            <div class="s_content">
                                <h4><span style="color: rgb(42, 48, 249);">Bệnh viện Bệnh Nhiệt đới tỉnh Hưng Yên</span></h4>
                                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 30px; font-size: 16px; vertical-align: top;"><i aria-hidden="true" class="fa fa-map-marker">&nbsp;</i></td>
                                            <td>P. Lam Sơn,Thành Phố Hưng Yên, Tỉnh Hưng Yên</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 30px; font-size: 16px; vertical-align: top;"><i class="fa fa-phone">&nbsp;</i></td>
                                            <td>
                                                (0221) 3550 741<br />

                                                http://bvbenhnhietdoihungyen.vn
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    @*<div class="col-xs-24 col-sm-6 col-md-6 wow fadeIn" data-wow-delay="0.2s">
                            <div class="block_simple">
                                <h3 class="title">Về chúng tôi<span></span></h3>
                                <div class="s_content">
                                    <div class="footer-menu">
                                        <ul class="">
                                            <li>
                                                <a title="Thư ngỏ" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Thư ngỏ</a>
                                            </li>
                                            <li>
                                                <a title="Giới thiệu Bệnh viện" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Giới thiệu Bệnh viện</a>
                                            </li>
                                            <li>
                                                <a title="Đội ngũ y bác sỹ" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Đội ngũ y bác sỹ</a>
                                            </li>
                                            <li>
                                                <a title="Cơ sở vật chất" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Cơ sở vật chất</a>
                                            </li>
                                            <li>
                                                <a title="Hệ thống quản lý" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Hệ thống quản lý</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-24 col-sm-6 col-md-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="block_simple">
                                <h3 class="title">Dịch vụ<span></span></h3>
                                <div class="s_content">
                                    <div class="footer-menu">
                                        <ul class="">
                                            <li>
                                                <a title="Ngoại trú" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Ngoại trú</a>
                                            </li>
                                            <li>
                                                <a title="Nội trú" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Nội trú</a>
                                            </li>
                                            <li>
                                                <a title="Kiểm tra sức khỏe tổng quát" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Kiểm tra sức khỏe tổng quát</a>
                                            </li>
                                            <li>
                                                <a title="Dịch vụ khác" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dịch vụ khác</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>*@
                    <div class="col-xs-24 col-sm-12 col-md-12 wow fadeIn" data-wow-delay="0.6s">
                        <div class="block_simple">
                            <h3 class="title">Đăng ký nhận bản tin<span></span></h3>
                            <div class="s_content">
                                <div class="email_newsletter">
                                    <form action="" method="post">
                                        <div class="showform">
                                            <input type="text" name="email" placeholder="Nhập email của bạn" />
                                            <input type="hidden" value="Gởi" name="do" />
                                            <button type="submit" name="do">
                                                <i class="fa fa-envelope-o"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="block_simple">
                            <h3 class="title">Thời gian làm việc<span></span></h3>
                            <div class="s_content">
                                <p><span style="color: rgb(34, 34, 34);"><strong>T.Hai - T.Sáu: </strong></span>Từ 07:00 đến 16:00</p>
                                <p><span style="color: rgb(34, 34, 34);"><strong>Thứ Bảy: </strong></span>Từ 07:00 đến 11:30</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="s_bottom">
            <div class="container">
                <div class="col-xs-24 col-sm-12 col-md-12 wow fadeIn" data-wow-delay="0s">
                    <strong>Bệnh viện Bệnh Nhiệt đới tỉnh Hưng Yên</strong>
                </div>
                <div class="col-xs-24 col-sm-12 col-md-12 text-right wow fadeIn" data-wow-delay="0s">
                    Webdesign by <a href="http://hungyen.vnpt.vn/" title="thiết kế website" rel="nofollow" target="_blank"><strong>Trung tâm CNTT- VNPT Hưng Yên</strong></a>
                </div>
            </div>
        </div>
    </footer>

    
</body>
</html>

